
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/build/
*.opensdf
*.tlog
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
/failed dashboard tests.playlist
/playlist.playlist
/DashworksTestAutomation/Tests/EvergreenJnr/EvergreenJnr_API_FiltersAndColumns/ApplicationsFiltersAndColumnsFeature.EvergreenJnr_ApplicationsList_CheckAllFilters.received.json
/DashworksTestAutomation/Tests/EvergreenJnr/EvergreenJnr_API_FiltersAndColumns/ApplicationsFiltersAndColumnsFeature.EvergreenJnr_ApplicationsList_CheckAllColumns.received.json
/DashworksTestAutomation/Tests/EvergreenJnr/EvergreenJnr_API_FiltersAndColumns/UsersFiltersAndColumnsFeature.EvergreenJnr_UsersList_CheckAllColumns.received.json
/DashworksTestAutomation/Tests/EvergreenJnr/EvergreenJnr_API_FiltersAndColumns/MailboxesFiltersAndColumnsFeature.EvergreenJnr_MailboxesList_CheckAllColumns.received.json
/DashworksTestAutomation/Tests/EvergreenJnr/EvergreenJnr_API_FiltersAndColumns/DevicesFiltersAndColumnsFeature.EvergreenJnr_DevicesList_CheckAllColumns.received.json
